$titulo: 6rem;
$subtitulo: 3rem;
$textos: 2rem;
$otrostextos: 4rem;
$gradient: linear-gradient(to right, #dd1818, #333333);

$text: (
    "titulo": $titulo,
    "otrostextos": $otrostextos,
    "subtitulo": $subtitulo,
    "textos": $textos,
);

@mixin imagenobras {

    width: 24vw;
}

@mixin textoobras {
    font-family: Arial;
                font-size: $subtitulo;
                padding: 20px 5px 20px
}