.footer{
    
    background: $gradient;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 100px;
    @media (max-width: 480px){
        gap:10px
    }
    
    &__section--sup{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        .footer__img{
            padding: 10%;
        }
    }
    
    
    &__section-inf{
        font-size: map-get($text, textos);
        @media (max-width: 480px){
            font-size: 100%;
        }
        
        .footer__desc{
            font-family: Arial;
            color: thistle;
        }
    }
    
}


