
@media screen and (max-width: 480px) {
    
    .main__titulo{
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .titulos__superior{
        font-size: 250%;
    }
    .titulos__subtitulo{
        font-size: 80%;
    }
    .article__interior{
        padding: 10px;
        
    }
    .article__title{
        font-size: 200%;
    }
    .article__parr{
        font-size: 100%;
    }
    .article__descrip{
        height: 250px;
    }
    .article__fotos{
        height: 800px;
        padding: 10px;
    }
    .article__imagenes--1{
        width: 80%;
        height: 30%;
    }
    .cuarta__section{
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        
    }
    .section__video{
        grid-column: 1/3;
        grid-row: 1/2;
        margin: 5px;
        padding: 5px;
        width: 90%;
        
    }
    .section__parrafo{
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .footer__section-inf{
        font-size: 100%;
    }
    .footer{
        gap:10px;
    }
    /*nuestros servicios*/
    .article__descrip{
        height: auto;
    }
    .article__interior{
        max-height: 150%;
    }
    .article__parrSN{
        
        font-size: 100%;
    }
    .article__imagenes--2{
        width: 100%;
    }
    .main__list{
        font-size: 0.8rem;
    }
    .article__fotosNS{
        display: inline-block;
    }

    /*nuestras obras*/
    .section__imagenesNO{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
        align-content: stretch;
    }
    .article__imagenNO{
        width: 100%;
        padding: 5%;
        
    }
    /*nuestro equipo*/
    .section__tituloNE{
        font-size: 1.5rem;
        padding: 0px;
        
    }
    .section__listaNE{
        font-size: 1rem;
        
    }
    .section__NuestroEquipo{
        padding: 10px;
        
    }
    .section__list{
        align-self: center; 
    }
    /*noticias*/
    .div__noticias{
        flex-direction: column;
    }  
    .noticias__descr{
        font-size: 1.5rem;
    }
    .noticia__img{
        width: 80%;
        height: auto;
    }
    /*contacto*/
    .section__contacto{
        flex-direction: column;
    }
    .mapa{
        width: 100%;
        
    }
}