.main{
    display: flex;
    flex-direction: column;
    
    .primera__section{
        background-image: url(../IMAGES/construccion.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        .main__titulo{
            
            background-color: rgba(255, 255, 255, 0.7);
            text-align: center;
            padding: 25px;
            font-family: Arial;
            margin-top: 250px;
            margin-bottom: 200px;
            margin-left: 20%;
            margin-right: 20%;
            border-radius: 10px;
            .titulos__superior{
                font-family: helvetica;
                font-size:$titulo;
                font-weight: bold;
                color:rgb(44, 44, 44)    
            }
            .titulos__subtitulo{
                font-size: $SubTitulo;
                font-family: Arial;
            }
        }
    }
    .segunda__section{  
        align-items: center;
        .article__descrip{
            background: $gradient;
            height: 450px;
            padding: 50px;
            font-family: Arial;
            display:flex;
            align-items: center;
            .article__interior{
                border: solid 5px whitesmoke;
                padding: 50px 50px 50px 50px;
                .article__title{
                    font-size: 4rem;
                    text-decoration: underline;
                    color:thistle;
                }
                .article__parr{
                    font-size: $textos;
                    color:thistle;
                }
            }
        }
    }
    .tercera__section{
        grid-column: 1/7;
        grid-row: 3/4;
        align-items: center;
        .article__fotos{
            height: 400px;
            width: 100%;
            padding: 10px 100px 10px 100px;
            font-family: Arial;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            background: linear-gradient(to right, #485563, #29323c);
            .article__imagenes{
                height: auto;
                display: inline-block;
                
                .article__imagenes--1{
                    display: flex;
                    height: 60%;
                    margin: 10px;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }
        .article__fotosNS{
            height: auto;
            width: 100%;
            padding: 10px 100px 10px 100px;
            font-family: Arial;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            
        }
    }
    
    .cuarta__section{
        grid-column: 1/7;
        grid-row: 4/5;
        display: grid;
        grid-template-columns: 50% 50%;
        height: auto;
        .section__inf{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        
        .section__video{
            margin: 30px;
            padding: 15px;
            width: 100%;
        }
        
        .section__parrafo{
            margin: 60px 30px 30px 30px;
            font-size: $textoss;
            font-family: Arial;
        
        }
    }
}